body {
  font-family: "Poppins", sans-serif;
  color: #777;
  background-color: #fff;
}

z index[type="*"],
select[options] {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

main {
  background: $madCustomText;
  padding-top: 3vw;
  padding-bottom: 3vw;
}
