.btn {
  text-decoration: none;
  padding: 1.2rem;
  display: inline-block;

  &__blue {
    background-color: $madBlue;
    color: white;
  }

    &__blue:hover {
    background-color: $madBlue;
    opacity: 50;
    color: white;
  }
    &__orn {
    background-color: $madBlue;
    color: white;
  }
}
