.grid {
  display: grid;

  @mixin atCell {
    grid-template-columns: repeat(2, 50%);
  }

  @mixin atTablet {
    grid-template-columns: repeat(12, 8.3333%);

    &__col-3-left {
      grid-column: 1 / span 4;
    }

    &__col-3-center {
      grid-column: 5 / span 4;
    }

    &__col-3-right {
      grid-column: 9 / span 4;
    }

    &__col-9-right {
      grid-column: 4 / span 8;
    }
  }
}
