nav {
  display: inline-flexbox;
}

.nav {
  &__links {
    padding: 15px 10px;
    color: $madBlue;
    text-decoration: none;

    &-img {
      width: 200px;
      padding: 0;
      margin: 5px 10px;
    }

    &-ul {
      padding: 15px 10px;
      list-style-type: none;
      top: 0;
    }

    &-li {
      padding: 0 10px;
      margin: 0 auto;
      font-weight: 100;
    }
  }
}
