.hero {
  padding: 3vw 0;
  background-color: $madLightBlue;
  position: relative;
  display: grid;
  grid-gap: 0;
 grid-template-columns: 33.33% 66.66%;
  
  @mixin atCell{
  grid-template-columns: 50% 50%;
  }

  &__title {
    position: absolute;
    display: table;
    font-family: "madskittles-bold";
    color: white;
    grid-column: 1 / span 2;
    grid-row: 1;
    z-index: 99;
    text-align: right;
    background-color: $madCustomText;
    padding: 6vw 4vw;
   
    @mixin atCell{
      display:none;
  }

    @mixin atTablet {
    top:10%;
    font-size: 10vw;
    line-height: 6vw;
  }
}
  &__title__mobile {
        @mixin atCell {
    position: absolute;
    display: table;
    font-family: "madskittles-bold";
    color: white;
    grid-column: 1 / span 2;
    grid-row: 1;
    z-index: 99;
    text-align: right;
    background-color: $madCustomText;
    padding: 2vw 4vw;
    font-size: 20vw;
  }
    @mixin atTablet {
     display:none;
  }
  }
}