.hero-text {
  &__title {
    @mixin atCell {
    font-weight: 300;
    font-size: 4rem;
    color: white;
    line-height: 0;
    letter-spacing: -5px;
    }
   
   
    @mixin atTablet {
      font-size: 5vw;
    color: white;
    line-height: 0;
    }
  }

  &__subtitle {
        @mixin atCell {
    font-weight: 200;
    font-size: 1.75rem;
    color: #ffffff90;
    line-height: 0;
  }
    @mixin atTablet {
      font-size: 2vw;
      color: #ffffff;
    }
  }

  &__p {
    font-weight: 100;
    font-size: 1vw;
    line-height: 0;
  }

  &__p-wrap {
    color: #00000090;
    font-style: italic;
    font-size: 1.2vw;
  }
}
