#hero-grid {
  display: grid;
  grid-template-columns: repeat(6, 16.6666%);
  grid-template-rows: 33% 33% 33% 1%;
  grid-gap: 0;
}
 #hero-grid__left {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }

  #hero-grid{
  &__top-left {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }

  &__top-right {
    grid-column: 5 / span 2;
    grid-row: 1;
  }

  &__center {
    grid-column: 4;
    grid-row: 2;
    z-index: 999;
  }

  &__bottom-left {
    grid-column: 3 / span 2;
    grid-row: 3;
  }

  &__bottom-right {
    grid-column: 5 / span 2;
    grid-row: 2 / span 2;
  }
  &-mobile {
    display: none;
  }
}

.hero-grid__container {
    position: relative;
}
.hero-grid__container-overlay {
  position: absolute;
  top: 65%;
  left: 3%;
  transform: translate(0, 0);
}


@media screen and (max-width: 600px) {
  #hero-grid {
    display: none;
  }
  #hero-grid-mobile {
    display: grid;
    margin: 0;
    padding: 0;
  }

  #hero-grid__mobile-middle {
    margin: 0;
    padding: 0;
  }
}
